<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolha</title>
    <link rel="stylesheet" href="./style/style.css">
    <script> 


        /*      Código para mandar o usuário para a pagina de escolhas automaticamente quando o mestre abrir uma votação (outra parte ta no rolagem.ejs)
        document.addEventListener('DOMContentLoaded', () => { 
            setInterval(checaVotacao, 3000)
            
            function checaVotacao() { 
                fetch('/votacaoEstado') 
                    .then(response => response.json()) 
                    .then(data => { 
                        if (!data.votacao) { 
                            window.location.href = '/';
                        } 
                }) 
                .catch(error => console.error('Erro:', error))
            } 

        })  */
    </script>
</head>
<body>
    <main>
        <h1>RPGzão no Auditório</h1>
        <h1>Escolha de ação</h1>
        <section>
                <form action="/votoRanged" method="post" id="formRanged">
                    <button type="button" class="escolha ranged" onclick="criaMensagem('ranged')">Ataque a distância</button> <br>
                </form>
            
                <form action="/votoMeele" method="post" id="formMeele">
                    <button type="button" class="escolha meele" onclick="criaMensagem('meele')">Ataque corpo-a-corpo</button> <br>
                </form>
            
                <form action="/votoItem" method="post" id="formItem">
                    <button type="button" class="escolha item" onclick="criaMensagem('item')">Usar item</button> <br>
                </form>

                <form action="/votoFugir" method="post" id="formFugir">
                    <button type="button" class="escolha fugir" onclick="criaMensagem('fugir')">Fugir</button> <br>
                </form>
        </section>
    </main>
    <script>
        function criaMensagem(voto) {
            localStorage.setItem('ranged', false)
            localStorage.setItem('meele', false)
            localStorage.setItem('item', false)
            localStorage.setItem('fugir', false)

            if(voto == 'ranged'){
                localStorage.setItem('ranged', true)
                formRanged.submit()
            } else if(voto == 'meele'){
                localStorage.setItem('meele', true)
                formMeele.submit()
            } else if(voto == 'item'){
                localStorage.setItem('item', true)
                formItem.submit()
            } else {
                localStorage.setItem('fugir', true)
                formFugir.submit()
            } 
        }
    </script>
</body>
</html>