<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolha</title>
    <link rel="stylesheet" href="./style/style.css">
    <script> 


        /*      Código para mandar o usuário para a pagina de escolhas automaticamente quando o mestre abrir uma votação (outra parte ta no rolagem.ejs)
        document.addEventListener('DOMContentLoaded', () => { 
            setInterval(checaVotacao, 3000)
            
            function checaVotacao() { 
                fetch('/votacaoEstado') 
                    .then(response => response.json()) 
                    .then(data => { 
                        if (!data.votacao) { 
                            window.location.href = '/';
                        } 
                }) 
                .catch(error => console.error('Erro:', error))
            } 

        })  */
    </script>
</head>
<body>
    <main>
        <h1>RPGzão no Auditório</h1>
        <h1>Escolha de ação</h1>
        <section>
                <form action="/votoRanged" method="post">
                    <button type="submit" class="escolha ranged">Ataque a distância</button> <br>
                </form>
            
                <form action="/votoMeele" method="post">
                    <button type="submit" class="escolha meele">Ataque corpo-a-corpo</button> <br>
                </form>
            
                <form action="/votoItem" method="post">
                    <button type="submit" class="escolha item">Usar item</button> <br>
                </form>

                <form action="/votoFugir" method="post">
                    <button type="submit" class="escolha fugir">Fugir</button> <br>
                </form>
        </section>
    </main>
</body>
</html>