<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolha</title>
    <link rel="stylesheet" href="./style/style.css">
    <script> 
        document.addEventListener('DOMContentLoaded', () => { 
            setInterval(checaVotacao, 3000)
            
            function checaVotacao() { 
                fetch('/votacaoEstado') 
                    .then(response => response.json()) 
                    .then(data => { 
                        if (!data.votacao) { 
                            window.location.href = '/';
                        } 
                }) 
                .catch(error => console.error('Erro:', error))
            } 

            function aumentaUm() {
            }
        })
    </script>
</head>
<body>
    <main>
        <h1>RPGzão no Auditório</h1>
        <section>
                <form action="/votoLutar" method="post">
                    <button type="submit" class="escolha lutar" onclick="aumentaUm()">Lutar</button> <br>
                </form>
            
                <form action="/votoFugir" method="post">
                    <button type="submit" class="escolha fugir" onclick="aumentaUm()">Fugir</button> <br>
                </form>
            
                <form action="/votoItem" method="post">
                    <button type="submit" class="escolha item" onclick="aumentaUm()">Usar item</button> <br>
                </form>
        </section>
    </main>
</body>
</html>