<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dissemina-IFF de RPG</title>
  <link rel="stylesheet" href="./style/style.css">
  <script>
        function proximoPasso() {
            fetch('/proximoPasso', {
                method: 'POST'
            })
            .then(response => response.text())
            .then(data => console.log(data))
            .catch(error => console.error('Erro:', error));
        }

        function fecharVotacao() {
            fetch('/fecharVotacao', {
                method: 'POST'
            })
            .then(response => response.text())
            .then(data => console.log(data))
            .catch(error => console.error('Erro:', error));
        }
  </script>

</head>

<body>
  <main>
    <h1>Aventuras Fantásticas - Quissapunk</h1>
    <section>
      <form action="/exibeRolagem" method="post">
        <label>Bônus: </label>
        <input type="number" name="bonus" value="0">
        <button type="submit">Exibir Rolagens</button>
      </form>
      <br>
      <form action="/resetaDados" method="post">
        <button type="submit">Resetar Rolagens</button>
      </form>
      <br>
        <button type="submit" id="proximoPasso" onclick="proximoPasso()">Proximo passo</button>
      <br>
        <button type="submit" id="fecharVotacao" onclick="fecharVotacao()">fechar votação</button>
    </section>
  </main>
</body>

</html>