<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dissemina-IFF de RPG</title>
  <link rel="stylesheet" href="./style/style.css">
</head>

<body>
  <main>
    <h1>RPGzão no Auditório</h1>
    <section>
      <form action="/resetaDados" method="post">
        <button type="submit">Iniciar Rolagens</button>
      </form>
      <br>
      <form action="/proximoPasso" method="post">
        <button type="submit">Iniciar Escolha de Ação</button>
      </form>
      <br>
    </section>
  </main>
</body>

</html>