<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dissemina-IFF de RPG</title>
</head>

<body>
  <h1>Aventuras Fantásticas - Ironsworn</h1>
  <h3>Dado de Ação: <%=total%></h3>
  <h3>Dado de Desafio 1: <%=desafio1%></h3>
  <h3>Dado de Desafio 2: <%=desafio2%></h3>
  <h2>Resultado: <%=resolucao%></h2>
  <br>
  <form action="/resetaDados" method="post">
    <button type="submit">Resetar Rolagens</button>
  </form>
</body>

</html>